<a href="https://colab.research.google.com/github/samleitermann/DataScience/blob/main/Spotify_Wrapped.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
# Install the datascience library
!pip install datascience
# Import necessary libraries
from datascience import *
import numpy as np
from google.colab import userdata

# Set up matplotlib for inline plotting and apply a style
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

Requirement already satisfied: datascience in /usr/local/lib/python3.12/dist-packages (0.18.0)
Requirement already satisfied: folium>=0.9.1 in /usr/local/lib/python3.12/dist-packages (from datascience) (0.20.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from datascience) (75.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.12/dist-packages (from datascience) (3.10.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from datascience) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from datascience) (1.16.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from datascience) (2.0.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from datascience) (7.34.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from datascience) (5.24.1)
Requirement already satisfied: branca in /usr/local/lib/python3.12/dist-packages (from datascience) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.12/dist-packages (from folium>=0.9.1->datascience) (3.1.6)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from folium>=0.9.1->datascience) (2.32.4)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.12/dist-packages (from folium>=0.9.1->datascience) (2025.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.0.0->datascience) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.0.0->datascience) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.0.0->datascience) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.0.0->datascience) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.0.0->datascience) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.0.0->datascience) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.0.0->datascience) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=3.0.0->datascience) (2.9.0.post0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->datascience) (4.9.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->datascience) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->datascience) (2025.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->datascience) (8.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->datascience) (0.8.5)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2>=2.9->folium>=0.9.1->datascience) (3.0.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->datascience) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->datascience) (0.2.14)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->datascience) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->folium>=0.9.1->datascience) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->folium>=0.9.1->datascience) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->folium>=0.9.1->datascience) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->folium>=0.9.1->datascience) (2025.8.3)

In [6]:
# Read the listening data from a CSV file hosted on GitHub
listening_data = Table.read_table('https://raw.githubusercontent.com/samleitermann/DataScience/refs/heads/main/SLLScrobbles.csv')

In [7]:
# Display the first 10 rows of the listening data
listening_data.show(10)

In [9]:
# Group the listening data by 'Artist' and 'Track' to get unique tracks and their counts
unique_tracks = listening_data.group(['Artist','Track'])

In [10]:
# Display the first 10 rows of the unique_tracks table
unique_tracks.show(10)

In [11]:
# Install or upgrade the spotipy library
pip install spotipy --upgrade

Requirement already satisfied: spotipy in /usr/local/lib/python3.12/dist-packages (2.25.1)
Requirement already satisfied: redis>=3.5.3 in /usr/local/lib/python3.12/dist-packages (from spotipy) (6.4.0)
Requirement already satisfied: requests>=2.25.0 in /usr/local/lib/python3.12/dist-packages (from spotipy) (2.32.4)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from spotipy) (2.5.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.25.0->spotipy) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.25.0->spotipy) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.25.0->spotipy) (2025.8.3)

In [13]:
# Import the spotipy library and its authentication module
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [61]:
cid = userdata.get("Spotifycid")
secret = userdata.get("SpotifySecret")
client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [17]:
# Import tqdm for progress bar
from tqdm.notebook import tqdm

# Initialize arrays to store song lengths and popularity
song_lengths = np.zeros(unique_tracks.num_rows)
song_pops = np.zeros(unique_tracks.num_rows)
# Iterate through each unique track with a progress bar
for row_index in tqdm(np.arange(0, unique_tracks.num_rows)):
  # Get song and artist names
  song_name = unique_tracks.row(row_index).item('Track')
  artist_name = unique_tracks.row(row_index).item('Artist')
  # Search Spotify for the track
  track_id = sp.search(q='artist:' + artist_name + ' track:' + song_name, type='track')
  # If track is found, extract length and popularity
  if len(track_id['tracks']['items']) > 0:
    song_info = track_id['tracks']['items'][0]
    song_lengths[row_index] = song_info['duration_ms']
    song_pops[row_index] = song_info['popularity']
  # If track is not found, set length and popularity to -1
  else:
    song_lengths[row_index] = -1
    song_pops[row_index] = -1

  0%|          | 0/6336 [00:00<?, ?it/s]

In [19]:
# Add 'Length' and 'Popularity' columns to the unique_tracks table
unique_tracks = unique_tracks.with_columns('Length', song_lengths, 'Popularity', song_pops)

# Display the first 10 rows of the updated unique_tracks table
unique_tracks.show(10)

In [21]:
# Define a function to combine two strings
def combine_str(str1, str2):
  return str1+str2

# Create a unique identifier column for unique_tracks by combining 'Artist' and 'Track'
unique_tracks = unique_tracks.with_column('unique', unique_tracks.apply(combine_str,'Artist','Track'))
# Create a unique identifier column for listening_data by combining 'Artist' and 'Track'
listening_data = listening_data.with_column('unique', listening_data.apply(combine_str,'Artist','Track'))

In [22]:
# Display the first 3 rows of unique_tracks
unique_tracks.show(3)
# Sort listening_data by 'unique' and display the first 3 rows
listening_data.sort('unique').show(3)

In [23]:
# Join listening_data with unique_tracks on the 'unique' column, dropping redundant columns from unique_tracks
listening_data_final = listening_data.join('unique', unique_tracks.drop('Artist','Track','count'))

In [24]:
# Display the first 3 rows of the final combined data
listening_data_final.show(3)

In [25]:
# Count the number of rows in the final data where 'Length' is not -1 (meaning track info was found)
listening_data_final.where('Length', are.not_equal_to(-1)).num_rows

10597

In [26]:
# Group the listening data by 'Artist' to get unique artists and their counts
unique_artists = listening_data.group('Artist')
# Display the first 3 rows of the unique_artists table
unique_artists.show(3)

In [28]:
# Import tqdm for progress bar
from tqdm.notebook import tqdm

# Initialize a list to store artist genres
artist_genre = ["" for x in range(unique_artists.num_rows)]
# Iterate through each unique artist with a progress bar
for row_index in tqdm(np.arange(0, unique_artists.num_rows)):
  # Get the artist name
  artist_name = unique_artists.row(row_index).item('Artist')
  # Search Spotify for the artist
  artist_id = sp.search(q='artist:' + artist_name, type='artist')
  # If artist is found, extract their genres
  if len(artist_id['artists']['items']) > 0:
    artist_genre[row_index] = artist_id['artists']['items'][0]['genres']
  # If artist is not found, assign an empty list for genres
  else:
    artist_genre[row_index] = []

  0%|          | 0/2608 [00:00<?, ?it/s]

In [29]:
# Add the 'Genres' column to the unique_artists table
unique_artists = unique_artists.with_column('Genres', artist_genre)
# Display rows 1000, 1001, and 1002 of the unique_artists table
unique_artists.take(1000,1001,1002).show(3)

In [30]:
# Join the final listening data with unique artists on the 'Artist' column
listening_data_final = listening_data_final.join('Artist', unique_artists)

In [31]:
# Display the first 3 rows of the updated final listening data
listening_data_final.show(3)

In [32]:
# Initialize a list to store all genres from all artists
all_genres = []
# Iterate through the 'Genres' column of unique_artists and extend the all_genres list
for genre_list in unique_artists.column('Genres'):
  all_genres = all_genres + genre_list

In [33]:
# Create a temporary table with all the extracted genres
temp_table = Table().with_column('Genres', all_genres)

# Group the temporary table by 'Genres' to count the occurrences of each genre
temp_table = temp_table.group('Genres')

In [34]:
# Sort the temporary table by genre count in descending order and display the top 3
temp_table.sort('count', descending = True).show(3)

In [44]:
# Define a function to determine the primary genre based on genre counts
def primary_genre(genre_list):
  if len(genre_list) == 0:
    return ""
  max_count = -1
  max_genre = ""
  # Iterate through the genres of an artist
  for genre in genre_list:
    # Find the count of the current genre in the overall genre counts table
    count = temp_table.where('Genres', are.equal_to(genre)).column('count').item(0)
    # Update max_count and max_genre if the current genre has a higher count
    if count > max_count:
      max_count = count
      max_genre = genre
  return max_genre

# Apply the primary_genre function to the 'Genres' column of unique_artists
primary_genres = unique_artists.apply(primary_genre, 'Genres')

array(['musicals', 'musicals', '', ..., '', "children's music", ''],
      dtype='<U21')

In [52]:
# Add the 'Primary Genre' column to the unique_artists table
unique_artists = unique_artists.with_column('Primary Genre', primary_genres)
unique_artists.show(3)

In [53]:
# Join the final listening data with unique artists on the 'Artist' column to add 'Primary Genre'
listening_data_final = listening_data_final.join('Artist', unique_artists.select('Artist', 'Primary Genre'))

# Display the first few rows of the updated final listening data
listening_data_final.show(3)

In [54]:
# Drop redundant columns from the final listening data table
listening_data_final = listening_data_final.drop('count','unique','Genres_2','Track _2')


# Display the first 3 rows of the cleaned final listening data
listening_data_final.show(3)

In [55]:
# Save the final listening data table to a CSV file
listening_data_final.to_csv('all_streams_data.csv')

In [ ]:
old_data = Table.read_table('https://raw.githubusercontent.com/anewlon-deerfield/Data-Science-Materials/refs/heads/main/all_streams_data.csv')
old_data.show(3)

In [ ]:
# Define a function to combine date components into a single string
def combine_date(day,month,year):
  return str(day)+'-'+month+'-'+(str(year)[2:])

# Apply the combine_date function to create a 'Date' column in old_data and drop the original date components
old_data = old_data.with_column('Date',old_data.apply(combine_date,'Date','Month','Year')).drop('Month','Year')
# Display the first 3 rows of the updated old_data
old_data.show(3)
# Display the first 3 rows of the final listening data (for comparison)
listening_data_final.show(3)

ValueError: The column "Month" is not in the table. The table contains these columns: Date, Time, Artist, Album, Track, Length, Popularity, Genres, Primary Genre

In [ ]:
# Display the first 3 rows of old_data
old_data.show(3)
# Display the first 3 rows of listening_data_final
listening_data_final.show(3)
# Relabel the 'Track ' column to 'Track' in listening_data_final (fixing a potential typo)
listening_data_final = listening_data_final.relabeled('Track ','Track')

In [ ]:
# Append the final listening data to the old data
listening_data_final = old_data.append(listening_data_final)

In [58]:
# Read the combined data from a CSV file hosted on GitHub
data = Table.read_table('https://raw.githubusercontent.com/anewlon-deerfield/Data-Science-Materials/refs/heads/main/all_streams_data.csv')

In [ ]:
# Display the first 5 rows of the combined data
data.show(5)

In [ ]:
# Group the data by 'Artist' and 'Track', sort by count in descending order, and show the top 6
data.group(['Artist','Track']).sort('count',descending = True).show(6)

In [ ]:
# Group the data by 'Artist', sort by count in descending order, and show the top 6
data.group('Artist').sort('count',descending = True).show(6)

In [ ]:
# Group the data by 'Primary Genre', sort by count in descending order, and show the top 6
data.group('Primary Genre').sort('count',descending = True).show(6)

In [ ]:
# Get the number of rows in the data
data.num_rows

100820

In [ ]:
# Calculate the total length of tracks with length > 0 in days
sum(data.where('Length',are.above(0)).column('Length'))/1000/60/60/24

240.96876591435182

In [ ]:
# Calculate the total length of all tracks in days
sum(data.column('Length'))/1000/60/60/24

346994.96706666669

In [ ]:
# Group the data by 'Date' and sum the 'Length', sort by sum in descending order, and show the top 2
data.group('Date',sum).sort('Length sum',descending = True).show(2)

In [ ]:
# Calculate the total length of tracks by 'Modern Baseball' with length > 0 in seconds
sum(data.where('Length',are.above(0)).where('Artist','Modern Baseball').column('Length'))/1000

531821.26300000004